<div class="mt-10 flex justify-center">
  <h1 class="font-bold text-3xl">All Quotes</h1>
</div>

<h2>
  <ul>
    <% @quotes.each do |quote| %>
      <%= render partial: "quoteCard", locals: { quote: quote } %>
    <% end %>
  </ul>
</h2>

<%= link_to(root_path) %>