<div class="mt-10 flex justify-center">
  <h1 class="font-bold text-3xl"><%= @user.username  %>'s Quotes</h1>

</div>
<% @user.quotes.each do |quote| %>
  <%= render partial: "quotes/quoteCard", locals: { quote: quote } %>
<% end %>
